<div class = "container">
  <h1>Stupid Coaching</h1>
  <div class = "first">
    <p class="question"> <%= @question %> </p>
    <p class = "who">-Neo</p>
  </div>
  <div class = "second">
    <p class = "answer"> <%= @answer %> </p>
    <p class = "who">-Morpheus</p>
  </div>
  <%= link_to "More questions, Neo?", ask_path %>
