<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<div class="container">
  <h1>Stupid Coaching</h1>
  <p id="askmorpheus">Ask Morpheus your question</p>
  <form action="/answer" method="get">
    <div class="input-group mb-3">
      <input type="text" class="form-control" id = "input" name = "question" aria-label="Recipient's username" aria-describedby="basic-addon2">
      <div class="input-group-append">
        <input type="submit" class="btn btn-outline-secondary" value = "Ask!" id="button"></input>
      </div>
    </div>
  </form>
</div>
</html>

